* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #e3c3f2;
    color: #333;
  }
  
  header {
    background: #e3c3f2;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  header img{
width: 50%;


  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  
  /* Filtros */
  #filters {
    height: 100%;
    flex: 1;
    background: rgb(255, 255, 255);
    border-radius: 8px;
  }
  
  /* Productos */
  #products {
    flex: 3 1 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    background: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.03);
  }
  
  .product-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-info {
    margin-top: 0.5rem;
  }
  
  .product-info h3 {
    margin: 0.2rem 0;
    font-size: 1.1rem;
  }
  
  .product-info p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .price {
    font-weight: bold;
    color: #e63946;
  }
  